@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummi Bear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Here are our Products!</h1>

@foreach (var product in Model)
{
    <div class="product-listing"><h2>@Html.DisplayFor(productItem => product.Name)</h2>
    
        <li class="link">@Html.ActionLink("Product Details", "Details", new { id = product.ProductId }) | @Html.ActionLink("Edit Product", "Edit", new {id = product.ProductId }) | @Html.ActionLink("Delete Product", "Delete", new { id = product.ProductId})</li>
    </div>


}
<h4 class="link">@Html.ActionLink("Add new Product", "Create")</h4>

